/* Tabs
----------------------------------*/
.ui-tabs { padding: .2em; zoom: 1; }
.ui-tabs .ui-tabs-nav { list-style: none; position: relative; padding: .2em .2em 0; }
.ui-tabs .ui-tabs-nav li { position: relative; float: left; border-bottom-width: 0 !important; margin: 0 .2em -1px 0; padding: 0; }
.ui-tabs .ui-tabs-nav li a { float: left; text-decoration: none; padding: .5em 1em; }
.ui-tabs .ui-tabs-nav li.ui-tabs-selected { padding-bottom: 1px; border-bottom-width: 0; }
.ui-tabs .ui-tabs-nav li.ui-tabs-selected a, .ui-tabs .ui-tabs-nav li.ui-state-disabled a, .ui-tabs .ui-tabs-nav li.ui-state-processing a { cursor: text; }
.ui-tabs .ui-tabs-nav li a, .ui-tabs.ui-tabs-collapsible .ui-tabs-nav li.ui-tabs-selected a { cursor: pointer; } /* first selector in group seems obsolete, but required to overcome bug in Opera applying cursor: text overall if defined elsewhere... */
.ui-tabs .ui-tabs-panel { padding: 1em 1.4em; display: block; border-width: 0; background: none; }
.ui-tabs .ui-tabs-hide { display: none !important; }

.ui-tabs2 { padding: .2em; zoom: 1; }
.ui-tabs2 .ui-tabs2-nav { list-style: none; position: relative; padding: .2em .2em 0; }
.ui-tabs2 .ui-tabs2-nav li { position: relative; float: left; border-bottom-width: 0 !important; margin: 0 .2em -1px 0; padding: 0; }
.ui-tabs2 .ui-tabs2-nav li a { float: left; text-decoration: none; padding: .5em 1em; }
.ui-tabs2 .ui-tabs2-nav li.ui-tabs2-selected { padding-bottom: 1px; border-bottom-width: 0; }
.ui-tabs2 .ui-tabs2-nav li.ui-tabs2-selected a, .ui-tabs2 .ui-tabs2-nav li.ui-state-disabled a, .ui-tabs2 .ui-tabs2-nav li.ui-state-processing a { cursor: text; }
.ui-tabs2 .ui-tabs2-nav li a, .ui-tabs2.ui-tabs2-collapsible .ui-tabs2-nav li.ui-tabs2-selected a { cursor: pointer; } /* first selector in group seems obsolete, but required to overcome bug in Opera applying cursor: text overall if defined elsewhere... */
.ui-tabs2 .ui-tabs2-panel { padding: 1em 1.4em; display: block; border-width: 0; background: none; }
.ui-tabs2 .ui-tabs2-hide { display: none !important; }

.ui-tabs3 { padding: .2em; zoom: 1; }
.ui-tabs3 .ui-tabs3-nav { list-style: none; position: relative; padding: .2em .2em 0; }
.ui-tabs3 .ui-tabs3-nav li { position: relative; float: left; border-bottom-width: 0 !important; margin: 0 .2em -1px 0; padding: 0; }
.ui-tabs3 .ui-tabs3-nav li a { float: left; text-decoration: none; padding: .5em 1em; }
.ui-tabs3 .ui-tabs3-nav li.ui-tabs3-selected { padding-bottom: 1px; border-bottom-width: 0; }
.ui-tabs3 .ui-tabs3-nav li.ui-tabs3-selected a, .ui-tabs3 .ui-tabs3-nav li.ui-state-disabled a, .ui-tabs3 .ui-tabs3-nav li.ui-state-processing a { cursor: text; }
.ui-tabs3 .ui-tabs3-nav li a, .ui-tabs3.ui-tabs3-collapsible .ui-tabs3-nav li.ui-tabs3-selected a { cursor: pointer; } /* first selector in group seems obsolete, but required to overcome bug in Opera applying cursor: text overall if defined elsewhere... */
.ui-tabs3 .ui-tabs3-panel { padding: 1em 1.4em; display: block; border-width: 0; background: none; }
.ui-tabs3 .ui-tabs3-hide { display: none !important; }
